/* Overall container for the screen */
.screen-container {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  height: 100vh; /* Full height of the viewport */
  background-color: #040426; /* Background color for the container */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default paddings */
}

/* Navbar section */
.nav-bar {
  flex-shrink: 0; /* Prevent shrinking */
  width: 100%; /* Full width of the container */
  z-index: 10; /* Ensure it sits above the content */
  box-sizing: border-box; /* Ensure padding/border doesn't add extra space */

}

/* Content section */
.screen-content {
  flex-grow: 1; /* Take up the remaining space after the navbar */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%; /* Full width of the container */
  overflow: auto; /* Add scroll if content overflows */
}
