body {
    overflow: hidden;

}

.stats {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100vh;
    padding: 30px;
    margin: 40px;
}

.stats-row {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;

}

.stats-column {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    height: 100%;
}
